#instructions {
    position: absolute;
    top: 180px;
    color: white;
    padding: 24px 25px;
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 2px;
}

#instructions-label {
    color: #f98dc9;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.719);
}

#instruction-list {
    font-size: 20px;
    margin-top: 15px;
    letter-spacing: -0.2px;
}

.list-bullet {
    font-size: 24px;
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#instruction-list li {
    margin-bottom: 5px;
    font-weight: 600;
}

#lb-1 {
    background-image: linear-gradient(to right, #d8b5ff, #1eae98);
}
#lb-2 {
    background-image: linear-gradient(to right, #f1eab9, #ff8c8c);
}
#lb-3 {
    background-image: linear-gradient(to right, #bff098, #6fd6ff);
}

#select-mode {
    position: absolute;
    top: 590px;
}

#mode-label {
    color: white;
    font-size: 26px;
    text-align: center;
}

#mode-choices {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-mode {
    width: 70%;
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 3px 0px;
    border: 3px solid white;
    border-radius: 5px;
    letter-spacing: 0.5px;
    background-color: #00000062;
    text-align: center;
    margin-bottom: 15px;
}
.game-mode:hover {
    cursor: pointer;
}

#easy:hover {
    color: #fdb515;
    border: 3px solid #2f6ca5;
}
#normal:hover {
    color: #f98dc9;
    border: 3px solid #27fdf5;
}
#insane:hover {
    color: red;
    border: 3px solid black;
}

#local-leaders-button {
    position: absolute;
    top: 800px;
    color: white;
}

.home-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes bounce {
    from {transform: translate3d(0, 0, 0);}
    to {transform: translate3d(0, -100px, 0);}
}

#home-poodle {
    position: absolute;
    top: 500px;

    animation: bounce 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#home-platform {
    position: absolute;
    top: 531px;
    width: 63px;
    height: 10px;
    background-color: cyan;
    border-radius: 5px;
}