canvas {
    /* border: 5px solid #fffdd0; */
    /* border: 5px solid #fffafae7; */
    box-shadow: 2px 2px 12px 4px #636363;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#game-title {
    /* font-size: 36px; */
    font-weight: 700;
    letter-spacing: 0.5px;
}

#game-title:hover {
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#canvas {
    background-color: #333;
}

#instructions {
    position: absolute;
    top: 300px;
    color: white;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.322);
}

#instructions-label {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-bottom: 2px solid white;
}

#instruction-list {
    font-size: 20px;
    margin-top: 15px;
    letter-spacing: 0.2px;
}

.list-bullet {
    font-size: 24px;
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#lb-1 {
    background-image: linear-gradient(to right, #d8b5ff, #1eae98);
}
#lb-2 {
    background-image: linear-gradient(to right, #f1eab9, #ff8c8c);
}
#lb-3 {
    background-image: linear-gradient(to right, #bff098, #6fd6ff);
}

#instruction-list li {
    margin-bottom: 5px;
}

#start, #replay {
    position: absolute;
    top: 550px;
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 3px 12px;
    border: 3px solid white;
    border-radius: 5px;
    letter-spacing: 0.5px;
    background-color: #00000062;
}

#start:hover, #replay:hover {
    cursor: pointer;
    color: #f98dc9;
    border: 3px solid #27fdf5;
}

#game-over {
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
    max-width: 500px;
    top: 320px;
    color: white;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 20px 30px;
    background-color: #0000004f;
}

.hidden {
    display: none;
}
